In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\JESSE\\Downloads\\owid-covid-data.csv")

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [6]:
df[df.continent.isna()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1266,OWID_AFR,NaN,Africa,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1267,OWID_AFR,NaN,Africa,2020-01-04,63.0,63.0,NaN,1120.0,1120.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1268,OWID_AFR,NaN,Africa,2020-01-05,63.0,0.0,NaN,1120.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1269,OWID_AFR,NaN,Africa,2020-01-06,63.0,0.0,NaN,1120.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1270,OWID_AFR,NaN,Africa,2020-01-07,63.0,0.0,NaN,1120.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316344,OWID_WRL,NaN,World,2023-06-17,768008615.0,23042.0,29770.857,6945136.0,474.0,312.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
316345,OWID_WRL,NaN,World,2023-06-18,768039567.0,30952.0,24921.143,6945443.0,307.0,173.143,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
316346,OWID_WRL,NaN,World,2023-06-19,768185417.0,145850.0,32637.714,6945694.0,251.0,179.571,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
316347,OWID_WRL,NaN,World,2023-06-20,768186332.0,915.0,31251.571,6945701.0,7.0,171.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
316348,OWID_WRL,NaN,World,2023-06-21,768186332.0,0.0,30190.143,6945701.0,0.0,165.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN

In [7]:


# Identify the rows where the location column contains the continent name
continent_rows = df['location'].isin(['Asia', 'Europe', 'Africa', 'North America', 'South America', 'Oceania','World'])

# Create a new column for continent names and populate it

df.loc[continent_rows & df['continent'].isnull(), 'continent'] = df.loc[continent_rows & df['continent'].isnull(), 'location']

df.loc[df.location == 'Africa']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1266,OWID_AFR,Africa,Africa,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1267,OWID_AFR,Africa,Africa,2020-01-04,63.0,63.0,NaN,1120.0,1120.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1268,OWID_AFR,Africa,Africa,2020-01-05,63.0,0.0,NaN,1120.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1269,OWID_AFR,Africa,Africa,2020-01-06,63.0,0.0,NaN,1120.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
1270,OWID_AFR,Africa,Africa,2020-01-07,63.0,0.0,NaN,1120.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2527,OWID_AFR,Africa,Africa,2023-06-17,13096288.0,903.0,244.429,258972.0,2.0,1.429,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2528,OWID_AFR,Africa,Africa,2023-06-18,13096289.0,1.0,234.143,258972.0,0.0,1.429,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2529,OWID_AFR,Africa,Africa,2023-06-19,13096524.0,235.0,170.286,258977.0,5.0,1.143,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2530,OWID_AFR,Africa,Africa,2023-06-20,13096524.0,0.0,169.286,258977.0,0.0,1.143,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2531,OWID_AFR,Africa,Africa,2023-06-21,13096524.0,0.0,169.143,258977.0,0.0,1.143,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN

In [8]:
for i, location in enumerate(df['location']):
    if location == 'European Union':
        df.loc[i, 'continent'] = 'Europe'
df.loc[df['location'] == 'European Union']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
89802,OWID_EUN,Europe,European Union,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
89803,OWID_EUN,Europe,European Union,2020-01-04,2.0,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
89804,OWID_EUN,Europe,European Union,2020-01-05,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
89805,OWID_EUN,Europe,European Union,2020-01-06,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
89806,OWID_EUN,Europe,European Union,2020-01-07,2.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91063,OWID_EUN,Europe,European Union,2023-06-17,184389317.0,18126.0,6681.286,1236023.0,411.0,102.714,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
91064,OWID_EUN,Europe,European Union,2023-06-18,184391954.0,2637.0,6349.714,1236041.0,18.0,98.286,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
91065,OWID_EUN,Europe,European Union,2023-06-19,184393292.0,1338.0,5229.000,1236048.0,7.0,87.286,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
91066,OWID_EUN,Europe,European Union,2023-06-20,184394189.0,897.0,5065.571,1236055.0,7.0,83.000,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN
91067,OWID_EUN,Europe,European Union,2023-06-21,184394189.0,0.0,4263.429,1236055.0,0.0,78.286,...,NaN,NaN,NaN,NaN,NaN,450146793.0,NaN,NaN,NaN,NaN

In [9]:
df.continent.fillna('Class',inplace= True)

In [10]:
df.loc[df.continent == 'Class']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
121452,OWID_HIC,Class,High income,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.250515e+09,NaN,NaN,NaN,NaN
121453,OWID_HIC,Class,High income,2020-01-04,4.0,4.0,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.250515e+09,NaN,NaN,NaN,NaN
121454,OWID_HIC,Class,High income,2020-01-05,4.0,0.0,NaN,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.250515e+09,NaN,NaN,NaN,NaN
121455,OWID_HIC,Class,High income,2020-01-06,4.0,0.0,NaN,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.250515e+09,NaN,NaN,NaN,NaN
121456,OWID_HIC,Class,High income,2020-01-07,4.0,0.0,NaN,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.250515e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305045,OWID_UMC,Class,Upper middle income,2023-06-17,244061214.0,2375.0,7104.429,2661966.0,60.0,106.857,...,NaN,NaN,NaN,NaN,NaN,2.525921e+09,NaN,NaN,NaN,NaN
305046,OWID_UMC,Class,Upper middle income,2023-06-18,244083270.0,22056.0,5203.714,2662186.0,220.0,53.714,...,NaN,NaN,NaN,NaN,NaN,2.525921e+09,NaN,NaN,NaN,NaN
305047,OWID_UMC,Class,Upper middle income,2023-06-19,244105055.0,21785.0,6823.714,2662319.0,133.0,60.000,...,NaN,NaN,NaN,NaN,NaN,2.525921e+09,NaN,NaN,NaN,NaN
305048,OWID_UMC,Class,Upper middle income,2023-06-20,244105126.0,71.0,6784.143,2662320.0,1.0,60.000,...,NaN,NaN,NaN,NaN,NaN,2.525921e+09,NaN,NaN,NaN,NaN
305049,OWID_UMC,Class,Upper middle income,2023-06-21,244105126.0,0.0,6715.857,2662320.0,0.0,59.571,...,NaN,NaN,NaN,NaN,NaN,2.525921e+09,NaN,NaN,NaN,NaN

In [12]:
df.to_csv('owid-covid-data-clean.csv')